@import 'OpenColors.css';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: OCR-A, monospace;
}

:root {
	--vmin: 1dvmin;
	--vmax: 1dvmax;

	--board-size: calc(95 * var(--vmin));
	--cell-size: calc(0.95 * var(--board-size) / 12);

	--controller-width: calc(60 * var(--vmin));
	--controller-height: calc(12 * var(--vmin));
	--ability-width: calc(0.9 * var(--controller-height));
}

body {
	overscroll-behavior: contain;
	background-color: var(--oc-gray-9);
}

.container {
	inset: 0;

	width: 100dvw;
	height: 100dvh;

	display: grid;
	place-items: center;
	grid-auto-flow: row;

	background-color: var(--oc-gray-9);
}

.board {
	width: var(--board-size);
	aspect-ratio: 1 / 1;
	border-radius: calc(0.25 * var(--vmin));

	display: grid;
	place-items: center;

	grid-template-columns: repeat(12, 1fr);

	background-color: var(--oc-gray-7);
}

.cell {
	width: var(--cell-size);
	aspect-ratio: 1 / 1;
	border-radius: calc(0.33 * var(--vmin));

	overflow: hidden;
	display: grid;
	place-items: center;
}

.controller {
	width: var(--controller-width);
	height: var(--controller-height);

	display: grid;
	place-items: center;
	grid-auto-flow: column;

	background-color: var(--oc-gray-7);
}

.ability {
	width: var(--ability-width);
	aspect-ratio: 1 / 1;

	display: grid;
	place-items: center;
	overflow: hidden;

	font-size: calc(var(--ability-width) * 0.75);
	color: var(--oc-gray-5);

	background-color: var(--oc-gray-8);
}

.ability.player-green {
	transform: rotate(180deg);
}

.ability.player-blue {
	transform: rotate(0deg);
}

@media (orientation: landscape) {
	.container {
		grid-auto-flow: column;
	}

	.board {
		transform: rotate(-90deg);
	}

	.controller {
		width: var(--controller-height);
		height: var(--controller-width);

		grid-auto-flow: row;
	}

	.ability.player-green {
		transform: rotate(-90deg);
	}

	.ability.player-blue {
		transform: rotate(90deg);
	}

	.controller.player-green {
		transform: rotate(-180deg);
	}

	.controller.player-blue {
		transform: rotate(180deg);
	}
}

.cell:not([data-level='0'])::after {
	content: '';
	width: var(--cell-size);
	aspect-ratio: 1 / 1;
}

.cell[data-level='1']::after {
	clip-path: polygon(50% 20%, 85% 80%, 15% 80%);
}
.cell[data-level='2']::after {
	clip-path: polygon(50% 10%, 90% 50%, 50% 90%, 10% 50%);
}
.cell[data-level='3']::after {
	clip-path: polygon(50% 8%, 93% 39%, 76% 89%, 24% 89%, 7% 39%);
}

.cell[data-element='air']::after {
	background: hsl(170, 100%, 80%);
}
.cell[data-element='fire']::after {
	background: hsl(15, 100%, 50%);
}
.cell[data-element='earth']::after {
	background: hsl(20, 60%, 20%);
}
.cell[data-element='water']::after {
	background: hsl(220, 80%, 50%);
}
.cell[data-element='nature']::after {
	background: hsl(140, 100%, 50%);
}
.cell[data-element='energy']::after {
	background: hsl(300, 80%, 30%);
}
