@import 'OpenColors.css';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: OCR-A, monospace;
}

:root {
	--vmin: 1dvmin;
	--vmax: 1dvmax;

	--container-width: calc(100 * var(--vmin));
	--container-height: calc(100 * var(--vmax));

	--cell-size: calc(7.5 * var(--vmin));
	--board-size: calc(13 * var(--cell-size));

	--ability-size: calc(12 * var(--vmin));
	--ability-selector-width: calc(5 * var(--ability-size));
	--ability-selector-height: calc(1 * var(--ability-size));

	--action-size: calc(12 * var(--vmin));
	--action-selector-width: calc(3 * var(--action-size));
	--action-selector-height: calc(1 * var(--action-size));

	--controller-width: max(
		var(--ability-selector-width),
		var(--action-selector-width)
	);
	--controller-height: calc(
		var(--ability-selector-height) + var(--action-selector-height)
	);
}

body {
	/* overscroll-behavior: contain; */
	background-color: var(--oc-gray-9);
}

.container {
	inset: 0;

	width: var(--container-width);
	height: var(--container-height);

	display: grid;
	grid-auto-flow: row;
	place-items: center;

	background-color: var(--oc-gray-9);
}

.board {
	width: var(--board-size);
	aspect-ratio: 1 / 1;
	border-radius: calc(0.25 * var(--vmin));

	display: grid;
	place-items: center;
	place-content: space-evenly;

	grid-template-columns: repeat(12, 1fr);

	background-color: var(--oc-gray-7);
}

.cell {
	width: var(--cell-size);
	aspect-ratio: 1 / 1;
	border-radius: calc(var(--vmin) / 3);

	overflow: hidden;
	display: grid;
	place-items: center;

	box-shadow: 0 0 0 calc(var(--vmin) / 3) var(--oc-gray-7);
}

.controller {
	width: var(--controller-width);
	height: var(--controller-height);

	border-radius: calc(0.8 * var(--action-size));

	display: grid;
	place-items: center;

	background-color: var(--oc-gray-7);
}

/*   abilities fuckery   */
.ability-selector {
	border-radius: calc(0.1 * var(--ability-size));

	display: grid;
	place-content: space-evenly;
	grid-auto-flow: column;
}

.ability {
	width: var(--ability-size);
	aspect-ratio: 1 / 1;
	border-radius: calc(0.1 * var(--ability-size));

	display: grid;
	place-items: center;
	overflow: hidden;

	font-size: calc(var(--ability-size) * 0.75);
	color: var(--oc-gray-5);

	background-color: var(--oc-gray-8);
	box-shadow: 0 0 0 calc(0.05 * var(--ability-size)) var(--oc-gray-7) inset;

	z-index: 0;
}

.controller.player-green .ability {
	rotate: 180deg;
	color: var(--oc-green-6);
}
.controller.player-blue .ability {
	rotate: 0deg;
	color: var(--oc-blue-6);
}

/*   actions fuckery   */
.action-selector {
	border-radius: calc(0.1 * var(--action-size));

	display: grid;
	place-content: space-evenly;
	grid-auto-flow: column;
}
.action {
	width: var(--action-size);
	aspect-ratio: 1 / 1;
	border-radius: calc(0.1 * var(--action-size));

	display: grid;
	place-items: center;
	overflow: hidden;

	background-color: var(--oc-gray-8);
	box-shadow: 0 0 0 calc(0.05 * var(--action-size)) var(--oc-gray-7) inset;

	z-index: 0;
}

.action svg {
	width: 90%;
	height: 90%;
}
.action.attack svg {
	scale: 0.9;
}
.action.move svg {
	scale: 0.8;
}
.action.confirm svg {
	scale: 1.5;
}

.controller.player-green .action path {
	fill: var(--oc-green-6);
}
.controller.player-blue .action path {
	fill: var(--oc-blue-6);
}
.action.attack path {
	d: path(
		'M221.65723,34.34326A8.00246,8.00246,0,0,0,216,32h-.02539l-63.79883.20117A8.00073,8.00073,0,0,0,146.0332,35.106L75.637,120.32275,67.31348,111.999A16.02162,16.02162,0,0,0,44.68555,112L32.001,124.68555A15.99888,15.99888,0,0,0,32,147.31348l20.88672,20.88769L22.94531,198.14258a16.01777,16.01777,0,0,0,.001,22.62695l12.28418,12.28418a16.00007,16.00007,0,0,0,22.62793,0L87.79883,203.1123,108.68652,224.001A16.02251,16.02251,0,0,0,131.31445,224L143.999,211.31445A15.99888,15.99888,0,0,0,144,188.68652l-8.32324-8.32324,85.21679-70.39648a8.00125,8.00125,0,0,0,2.90528-6.14258L224,40.02539A8.001,8.001,0,0,0,221.65723,34.34326Zm-13.84668,65.67822-83.49829,68.97706L111.314,156l54.34327-54.34277a8.00053,8.00053,0,0,0-11.31446-11.31446L100,144.686,87.00195,131.6875,155.97852,48.189l51.99609-.16357Z'
	);
}
.action.move path {
	d: path(
		'M7.463.057A.748.748 0 007.22.22l-2 2a.75.75 0 001.06 1.06L7 2.56V7H2.56l.72-.72a.75.75 0 00-1.06-1.06l-2 2a.748.748 0 000 1.06l2 2a.75.75 0 101.06-1.06l-.72-.72H7v4.44l-.72-.72a.75.75 0 00-1.06 1.06l2 2a.748.748 0 001.06 0l2-2a.75.75 0 10-1.06-1.06l-.72.72V8.5h4.44l-.72.72a.75.75 0 101.06 1.06l2-2a.748.748 0 000-1.06l-2-2a.75.75 0 10-1.06 1.06l.72.72H8.5V2.56l.72.72a.75.75 0 101.06-1.06l-2-2a.748.748 0 00-.817-.163z'
	);
}
.action.confirm path {
	d: path(
		'M22.667 11.241l-8.559 8.299-2.998-2.998c-0.312-0.312-0.818-0.312-1.131 0s-0.312 0.818 0 1.131l3.555 3.555c0.156 0.156 0.361 0.234 0.565 0.234 0.2 0 0.401-0.075 0.556-0.225l9.124-8.848c0.317-0.308 0.325-0.814 0.018-1.131-0.309-0.318-0.814-0.325-1.131-0.018z'
	);
}

.controller.player-green .action {
	rotate: 180deg;
}
.controller.player-blue .action {
	rotate: 0deg;
}

:is(.cell, .ability, .action) {
	filter: brightness(100%);
	scale: 1;
	z-index: 0;

	transition: 0.1s;
}
:is(.cell, .ability, .action):is(:hover, [data-selected='true']) {
	filter: brightness(120%);
	scale: 1.2;
	z-index: 10;

	transition: 0.1s;
}

/*   modal fuckery   */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

.open-modal {
	position: fixed;
	display: grid;
	place-items: center;

	left: calc(1 * var(--vmin));
	top: calc(1 * var(--vmin));
	width: calc(10 * var(--vmin));
	height: calc(10 * var(--vmin));

	rotate: 180deg;
	border-radius: calc(3 * var(--vmin));

	z-index: 1;
	cursor: pointer;

	color: var(--oc-gray-4);
	background: var(--oc-gray-8);
}

.close-modal {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.open-modal-mark {
	width: 80%;
	height: 80%;
}
.open-modal-mark path {
	d: path('M 4,7 H 20 M 4,12 H 20 M 4,17 H 20');
	stroke: var(--oc-gray-4);
	stroke-width: 2.5;
	stroke-linecap: round;
	stroke-linejoin: round;
}

/*   landscape mode fuckery   */
@media (orientation: landscape) {
	.container {
		transform: rotate(270deg);
		transform-origin: bottom right;

		position: absolute;
		top: calc(-100 * var(--vmax));
		left: auto;

		/* overflow: auto; */
	}

	.open-modal {
		rotate: 90deg;
	}
}

/*   elemental svg fuckery   */
svg {
	overflow: hidden;
	position: absolute;
}

.cell[data-occupied='false'] svg {
	display: none;
}

.elemental {
	width: var(--cell-size);
	height: var(--cell-size);
}
.elemental-shape {
	stroke: var(--oc-gray-8);
	stroke-width: 0.05;
}

/*   elemental gradient color fuckery   */
.cell[data-element='air'] .elemental-shape {
	fill: url('#gradient-air');
}
.cell[data-element='fire'] .elemental-shape {
	fill: url('#gradient-fire');
}
.cell[data-element='rock'] .elemental-shape {
	fill: url('#gradient-rock');
}
.cell[data-element='water'] .elemental-shape {
	fill: url('#gradient-water');
}
.cell[data-element='nature'] .elemental-shape {
	fill: url('#gradient-nature');
}
.cell[data-element='energy'] .elemental-shape {
	fill: url('#gradient-energy');
}

#gradient-air stop:first-child {
	stop-color: var(--cc-gradient-air-1);
}
#gradient-air stop:last-child {
	stop-color: var(--cc-gradient-air-2);
}
#gradient-fire stop:first-child {
	stop-color: var(--cc-gradient-fire-1);
}
#gradient-fire stop:last-child {
	stop-color: var(--cc-gradient-fire-2);
}
#gradient-rock stop:first-child {
	stop-color: var(--cc-gradient-rock-1);
}
#gradient-rock stop:last-child {
	stop-color: var(--cc-gradient-rock-2);
}
#gradient-water stop:first-child {
	stop-color: var(--cc-gradient-water-1);
}
#gradient-water stop:last-child {
	stop-color: var(--cc-gradient-water-2);
}
#gradient-nature stop:first-child {
	stop-color: var(--cc-gradient-nature-1);
}
#gradient-nature stop:last-child {
	stop-color: var(--cc-gradient-nature-2);
}
#gradient-energy stop:first-child {
	stop-color: var(--cc-gradient-energy-1);
}
#gradient-energy stop:last-child {
	stop-color: var(--cc-gradient-energy-2);
}

/*   elemental shape fuckery   */
.cell[data-level='1'] .elemental-shape {
	d: path(
		'M 0.57,0.23 Q 0.5,0.1 0.43,0.23 L 0.14,0.73 Q 0.07,0.85 0.21,0.85 L 0.79,0.85 Q 0.94,0.85 0.87,0.73 L 0.57,0.23 Z'
	);

	scale: 0.7;
	translate: 15% 10%;
}
.cell[data-level='2'] .elemental-shape {
	d: path(
		'M 0.59,0.09 Q 0.5,0 0.42,0.09 L 0.09,0.42 Q 0,0.5 0.09,0.59 L 0.42,0.92 Q 0.5,1 0.59,0.92 L 0.92,0.59 Q 1,0.5 0.92,0.42 L 0.59,0.09 Z'
	);

	scale: 0.8;
	translate: 10% 10%;
}
.cell[data-level='3'] .elemental-shape {
	d: path(
		'M 0.58,0.06 Q 0.5,0 0.42,0.06 L 0.1,0.29 Q 0.03,0.35 0.05,0.44 L 0.18,0.81 Q 0.21,0.91 0.31,0.91 L 0.7,0.91 Q 0.8,0.91 0.83,0.81 L 0.95,0.44 Q 0.98,0.35 0.9,0.29 L 0.58,0.06 Z'
	);

	scale: 0.9;
	translate: 5% 7.5%;
}

/*   elemental health fuckery   */
.elemental-health-boundary {
	d: path('M 0,0 A 0.5 0.5 0 1 1 0.01,0 Z');
	fill: none;
	stroke: var(--cc-elemental-health-boundary);
	stroke-width: 0.075;

	translate: 50% 99%;
	scale: 0.25;
}

.elemental-health-background {
	d: path('M 0,0 A 0.5 0.5 0 1 1 0.01,0 Z');
	fill: var(--cc-elemental-health-boundary-filler);
	fill-opacity: var(--cc-elemental-health-boundary-filler-opacity);
	stroke: none;

	translate: 50% 99%;
	scale: 0.25;
}

.elemental-health-life {
	fill: var(--cc-elemental-health-life);
	stroke: none;

	translate: 50% 98%;
	scale: 0.23;
}

.cell[data-level='1'][data-health='1'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 1 0.499 0 Z L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='2'][data-health='1'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.5 1 L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='2'][data-health='2'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 1 0.499 0 Z L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='3'][data-health='1'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.25 L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='3'][data-health='2'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.75 L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='3'][data-health='3'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.5 1 L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='3'][data-health='4'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 0 0.933 0.75 L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='3'][data-health='5'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 0 0.933 0.25 L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='3'][data-health='6'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 1 0.499 0 Z L 0.5,0.5 Z');
	translate: 38.5% 75%;
}

/*   hit fuckery   */
.elemental-health-hit {
	fill: var(--cc-elemental-health-hit);
	stroke: none;

	translate: 50% 98%;
	scale: 0.23;
}

/*   hit = 1   */
.cell[data-level='1'][data-health='1'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 1 0.499 0 Z L 0.5,0.5 Z');
	transform-origin: center left;
	translate: 38.5% 36.5%;
}
.cell[data-level='2'][data-health='1'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.5 1 L 0.5,0.5 Z');
	transform-origin: center left;
	translate: 38.5% 36.5%;
}
.cell[data-level='2'][data-health='2'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.5 1 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.24;
	translate: 62% 36.5%;
	rotate: 180deg;
}
.cell[data-level='3'][data-health='1'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.25 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 37.5% 37.5%;
}
.cell[data-level='3'][data-health='2'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.25 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 44.5% 47.5%;
	rotate: -60deg;
}
.cell[data-level='3'][data-health='3'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.25 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 56.5% 46.5%;
	rotate: -120deg;
}
.cell[data-level='3'][data-health='4'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.25 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 62.5% 36%;
	rotate: -180deg;
}
.cell[data-level='3'][data-health='5'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.25 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 55.5% 25.5%;
	rotate: -240deg;
}
.cell[data-level='3'][data-health='6'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.25 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 43% 26%;
	rotate: -300deg;
}

/*   hit = 2   */
.cell[data-level='2'][data-health='2'][data-hit='2'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 1 0.499 0 Z L 0.5,0.5 Z');
	transform-origin: center left;
	translate: 38.5% 36.5%;
}
.cell[data-level='3'][data-health='2'][data-hit='2'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 37.5% 36.5%;
}
.cell[data-level='3'][data-health='3'][data-hit='2'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 44% 47.5%;
	rotate: -60deg;
}
.cell[data-level='3'][data-health='4'][data-hit='2'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 56% 46.5%;
	rotate: -120deg;
}
.cell[data-level='3'][data-health='5'][data-hit='2'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 62.5% 36.5%;
	rotate: -180deg;
}
.cell[data-level='3'][data-health='6'][data-hit='2'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 55.5% 25%;
	rotate: -240deg;
}

/*   hit = 4   */
.cell[data-level='3'][data-health='4'][data-hit='4'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 0 0.933 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	translate: 38.5% 36.5%;
}
.cell[data-level='3'][data-health='5'][data-hit='4'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 0 0.933 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	translate: 44.5% 46.5%;
	rotate: -60deg;
}
.cell[data-level='3'][data-health='6'][data-hit='4'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 0 0.933 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	translate: 56% 46.5%;
	rotate: -120deg;
}
