@import 'colors.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: monospace;
	-webkit-tap-highlight-color: transparent !important;
	/* box-shadow: 0 0 0 4px blue, inset 0 0 0 4px red; */
}

:root {
	--vmin: 1dvmin;
	--vmax: 1dvmax;

	--container-width: calc(100 * var(--vmin));
	--container-height: calc(100 * var(--vmax));

	--cell-size: calc(7.5 * var(--vmin));
	--cell-gap: calc(var(--vmin) * 0.2);
	--board-size: calc(12 * var(--cell-size) + 26 * var(--cell-gap));

	--action-spell-size: calc(12 * var(--vmin));
	--controller-width: calc(5 * var(--action-spell-size));
	--controller-height: calc(2 * var(--action-spell-size));

	--modal-content-width: calc(100 * var(--vmin) - 16 * var(--vmin));
	--modal-content-height: calc(100 * var(--vmax) - 16 * var(--vmin));
}

body {
	overscroll-behavior: none;
	background-color: var(--gray-900);
	height: 100%;
}

i {
	font-size: calc(8 * var(--vmin));
}

[data-dom='game-container'] {
	position: absolute;

	min-width: 100dvw;
	min-height: 100dvh;
	padding: 1rem;

	display: grid;
	grid-auto-flow: row;
	place-items: center;

	background-color: var(--gray-900);
}

[data-dom='board'] {
	aspect-ratio: 1 / 1;
	display: grid;
	place-items: center;

	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);

	background-color: var(--gray-700);
}

[data-dom='cell'] {
	--m: calc(var(--cell-size) * 0.025);
	width: var(--cell-size);
	aspect-ratio: 1 / 1;

	margin: var(--m);
	border-radius: calc(0.5 * var(--vmin));

	overflow: hidden;
	display: grid;
	place-items: center;

	outline: var(--m) solid var(--gray-700);
	transition: 100ms;
}
[data-dom='cell'][data-player='blue'] {
	rotate: 180deg;
}
[data-dom='cell']:before {
	content: '';
	width: var(--cell-size);
	aspect-ratio: 1 / 1;
}

[data-dom='cell'][data-player='green']:before {
	background: var(--cell-green);
}
[data-dom='cell'][data-player='blue']:before {
	background: var(--cell-blue);
}
[data-dom='cell'][data-shade='light']:before {
	filter: brightness(120%) contrast(80%);
}
[data-dom='cell'][data-shade='dark']:before {
	filter: brightness(90%) contrast(80%);
}

[data-dom='controller'] {
	width: calc(5 * var(--action-spell-size));
	aspect-ratio: 5 / 2;
	border-radius: calc(0.5 * var(--action-spell-size)) / 50%;

	display: grid;
	place-items: center;

	background-color: var(--gray-700);
	transition: 100ms;
}
[data-dom='controller'][data-active='false'] {
	filter: brightness(50%);
	transition: 100ms;
}

.spell-selector,
.action-selector {
	border-radius: calc(0.1 * var(--action-spell-size));

	display: grid;
	place-content: space-evenly;
	grid-auto-flow: column;
}

/**   spells fukery   */
[data-dom='spell'] {
	width: var(--action-spell-size);
	aspect-ratio: 1 / 1;
	border-radius: calc(0.1 * var(--action-spell-size));

	display: grid;
	place-items: center;
	overflow: hidden;

	font-size: calc(var(--action-spell-size) * 0.75);
	color: var(--gray-500);

	border: calc(0.05 * var(--action-spell-size)) solid var(--gray-700);
	background-color: var(--gray-800);
	background-repeat: no-repeat;
	background-position: center;
	background-size: calc(var(--action-spell-size) * 0.8);

	position: relative;
	z-index: 0;
}
[data-dom='spell_img'] {
	width: 80%;
	height: 80%;
}

[data-dom='controller'][data-player='green'] [data-dom='spell'] {
	color: var(--green-500);
}
[data-dom='controller'][data-player='blue'] [data-dom='spell'] {
	color: var(--blue-500);
	transform: rotate(180deg);
}

[data-dom='spell']::after {
	content: attr(data-charge) '/' attr(data-max-charge);
	width: calc(0.9 * var(--action-spell-size));
	position: absolute;
	bottom: 0;
	left: 0;

	font-size: calc(var(--action-spell-size) * 0.2);
	font-family: 'Press Start 2P', sans-serif;
	color: var(--gray-100);
	text-align: center;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

[data-dom='spell'][data-type='meteor-shower'] {
	background-image: url('../images/meteor.png');
}
[data-dom='spell'][data-type='pendulum-of-reversed-time'] {
	background-image: url('../images/boot.png');
}
[data-dom='spell'][data-type='ancient-figurine'] {
	background-image: url('../images/pyramid.png');
}
[data-dom='spell'][data-type='the-lady-of-the-lake-vial'] {
	background-image: url('../images/heal.png');
}
[data-dom='spell'][data-type='forest-master-staff'] {
	background-image: url('../images/thorn.png');
}

/*   actions fuckery   */
[data-dom='action'] {
	width: var(--action-spell-size);
	aspect-ratio: 1 / 1;
	border-radius: calc(0.1 * var(--action-spell-size));

	display: grid;
	place-items: center;
	overflow: hidden;

	background-color: var(--gray-800);
	border: calc(0.05 * var(--action-spell-size)) solid var(--gray-700);

	z-index: 0;
}

[data-dom='controller'][data-player='green'] [data-dom='action'] {
	color: var(--green-500);
}
[data-dom='controller'][data-player='blue'] [data-dom='action'] {
	color: var(--blue-500);
	rotate: 180deg;
}

:is([data-dom='cell'], [data-dom='spell'], [data-dom='action'])[data-active='true'] {
	filter: brightness(120%) drop-shadow(0 0 var(--vmin) var(--gray-900));
	scale: 1.15;
	z-index: 10;
	border-radius: var(--vmin);
	transition: 100ms;
}

/*   modal fuckery   */
.modal {
	width: calc(100 * var(--vmin));
	height: calc(100 * var(--vmax));

	display: grid;
	place-items: center;
	position: fixed;

	overflow: auto;
	z-index: 20;

	background: rgba(0 0 0 / 0.67);

	opacity: 0;
	transition: 200ms;
	visibility: hidden;
}
.modal[data-active='true'] {
	visibility: visible;
	opacity: 1;
}

.open-modal,
.close-modal {
	position: fixed;
	display: grid;
	place-items: center;

	width: calc(10 * var(--vmin));
	height: calc(10 * var(--vmin));
	top: calc(1 * var(--vmin));

	border-radius: calc(2.5 * var(--vmin));
	cursor: pointer;

	color: var(--gray-400);
	background: var(--gray-800);
	box-shadow: 0 0 calc(0.5 * var(--vmin)) calc(0.5 * var(--vmin)) var(--gray-900);

	left: calc(1 * var(--vmin));
	z-index: 40;
}

:is(.open-modal, .close-modal),
:is(.open-modal, .close-modal)::before {
	transition: 500ms;
}

[data-dom='modal-container']:has(.modal[data-active='false']) .open-modal {
	visibility: visible;
	opacity: 1;
}
[data-dom='modal-container']:has(.modal[data-active='false']) .close-modal {
	visibility: hidden;
	opacity: 0;
}
[data-dom='modal-container']:has(.modal[data-active='true']) .open-modal {
	visibility: hidden;
	opacity: 0;
}
[data-dom='modal-container']:has(.modal[data-active='true']) .close-modal {
	visibility: visible;
	opacity: 1;
}

[data-dom='modal-container']:has(.modal[data-active='false']) .open-modal::before {
	rotate: 0deg;
	scale: 1;
}
[data-dom='modal-container']:has(.modal[data-active='false']) .close-modal::before {
	rotate: 180deg;
	scale: 0;
}
[data-dom='modal-container']:has(.modal[data-active='true']) .open-modal::before {
	rotate: -180deg;
	scale: 0;
}
[data-dom='modal-container']:has(.modal[data-active='true']) .close-modal::before {
	rotate: 0deg;
	scale: 1;
}

.modal-content {
	width: var(--modal-content-width);
	height: var(--modal-content-height);

	display: grid;
	grid-template-areas:
		'tab-selector'
		'tab-content';
	grid-template-rows: calc(8 * var(--vmax)) 1fr;

	border-radius: calc(8 * var(--vmin));
	background: var(--gray-800);

	z-index: 30;
}

.tab-buttons > *,
.tab-contents {
	margin: calc(2 * var(--vmin));
}

.tab-buttons {
	display: grid;
	place-items: stretch;
	grid-auto-flow: column;
	grid-area: tab-selector;
}
.tab-button {
	height: calc(12 * var(--vmin));
	border-radius: calc(100 * var(--vmin));

	display: grid;
	place-items: center;

	font-size: calc(8 * var(--vmin));
	color: var(--gray-600);
	cursor: pointer;
	transition: 100ms;
}
.tab-button[data-active='true'] {
	box-shadow: 0 0 var(--vmin) var(--vmin) var(--gray-900);
	font-size: calc(10 * var(--vmin));
	color: var(--gray-100);
}

.tab-contents {
	grid-area: tab-content;

	overflow: scroll;
	box-shadow: 0 0 var(--vmin) var(--vmin) var(--gray-900);
	border-radius: calc(6 * var(--vmin));
}
.tab-content {
	width: 100%;
	height: calc(80 * var(--vmax));

	display: none;
	align-items: center;
	justify-items: center;
	align-content: space-between;

	padding: calc(2 * var(--vmin));
	color: var(--gray-200);
}
.tab-content[data-active='true'] {
	display: grid;
}
.tab-content > * {
	margin: calc(2 * var(--vmin));
}

.submit-settings {
	width: calc(70 * var(--vmin));
	height: calc(12 * var(--vmin));
	display: grid;
	place-items: center;

	border-radius: calc(100 * var(--vmin));
	font-size: calc(8 * var(--vmin));

	box-shadow: 0 0 var(--vmin) var(--vmin) var(--gray-900);
	background: var(--gray-800);
	color: var(--gray-100);

	transition: 200ms;
}
.submit-settings:hover {
	font-size: calc(10 * var(--vmin));
	width: calc(16 * var(--vmin));
	color: var(--green-300);
}

form {
	width: 100%;
	display: grid;
	place-items: center;
}
fieldset {
	border-radius: calc(4 * var(--vmin));
	font-size: calc(6 * var(--vmin));
}
fieldset[data-player='green'] {
	color: var(--green-500);
	border: calc(1 * var(--vmin)) solid var(--green-500);
}
fieldset[data-player='blue'] {
	color: var(--blue-500);
	border: calc(1 * var(--vmin)) solid var(--blue-500);
}

.input-wrapper {
	display: grid;
	place-items: start;
	grid-template-areas:
		'air-input air-label fire-input fire-label'
		'rock-input rock-label water-input water-label'
		'nature-input nature-label energy-input energy-label';
}
legend {
	margin: 0 auto;
	font-weight: 1000;
}
label {
	display: grid;
	margin: calc(3 * var(--vmin));
	margin-left: 0;
	font-weight: 1000;
}
input {
	display: grid;
	place-self: center;
	appearance: none;
	margin: calc(3 * var(--vmin));
}

input::before {
	content: '';
	display: grid;

	width: calc(5 * var(--vmin));
	height: calc(5 * var(--vmin));

	border-radius: var(--vmin);
	background: var(--gray-900);
}
input[data-type='air']:checked::before {
	grid-area: air-input;
	background: radial-gradient(var(--gradient-air-1), var(--gradient-air-2));
}
input[data-type='fire']:checked::before {
	grid-area: fire-input;
	background: radial-gradient(var(--gradient-fire-1), var(--gradient-fire-2));
}
input[data-type='rock']:checked::before {
	grid-area: rock-input;
	background: radial-gradient(var(--gradient-rock-1), var(--gradient-rock-2));
}
input[data-type='water']:checked::before {
	grid-area: water-input;
	background: radial-gradient(var(--gradient-water-1), var(--gradient-water-2));
}
input[data-type='nature']:checked::before {
	grid-area: nature-input;
	background: radial-gradient(var(--gradient-nature-1), var(--gradient-nature-2));
}
input[data-type='energy']:checked::before {
	grid-area: energy-input;
	background: radial-gradient(var(--gradient-energy-1), var(--gradient-energy-2));
}

input[data-type='air'] + label {
	grid-area: air-label;
	background: -webkit-radial-gradient(var(--gradient-air-1), var(--gradient-air-2));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
input[data-type='fire'] + label {
	grid-area: fire-label;
	background: -webkit-radial-gradient(var(--gradient-fire-1), var(--gradient-fire-2));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
input[data-type='rock'] + label {
	grid-area: rock-label;
	background: -webkit-radial-gradient(var(--gradient-rock-1), var(--gradient-rock-2));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
input[data-type='water'] + label {
	grid-area: water-label;
	background: -webkit-radial-gradient(var(--gradient-water-1), var(--gradient-water-2));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
input[data-type='nature'] + label {
	grid-area: nature-label;
	background: -webkit-radial-gradient(var(--gradient-nature-1), var(--gradient-nature-2));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
input[data-type='energy'] + label {
	grid-area: energy-label;
	background: -webkit-radial-gradient(var(--gradient-energy-1), var(--gradient-energy-2));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

p {
	padding: calc(1.5 * var(--vmin)) calc(3 * var(--vmin));
	font-size: calc(4 * var(--vmin));
}
h1 {
	font-size: calc(10 * var(--vmin));
}
p.spell.forest-master-staff::first-line {
	color: var(--green-500);
}
p.spell.the-lady-of-the-lake-vial::first-line {
	color: var(--cyan-500);
}
p.spell.ancient-figurine::first-line {
	color: var(--stone-500);
}
p.spell.pendulum-of-reversed-time::first-line {
	color: var(--indigo-500);
}
p.spell.meteor-shower::first-line {
	color: var(--red-500);
}

/*   elemental svg fuckery   */
svg {
	overflow: hidden;
	position: absolute;
	transition: 500ms;
}

[data-dom='cell'][data-occupied='true'] > svg {
	opacity: 1;
}
[data-dom='cell'][data-occupied='false'] > svg {
	opacity: 0;
}

.elemental {
	width: var(--cell-size);
	height: var(--cell-size);
}
.elemental-shape {
	stroke: var(--gray-800);
	stroke-width: 3;
}

/*   elemental gradient color fuckery   */
[data-dom='cell'][data-element='air'] .elemental-shape {
	fill: url('#gradient-air');
}
[data-dom='cell'][data-element='fire'] .elemental-shape {
	fill: url('#gradient-fire');
}
[data-dom='cell'][data-element='rock'] .elemental-shape {
	fill: url('#gradient-rock');
}
[data-dom='cell'][data-element='water'] .elemental-shape {
	fill: url('#gradient-water');
}
[data-dom='cell'][data-element='nature'] .elemental-shape {
	fill: url('#gradient-nature');
}
[data-dom='cell'][data-element='energy'] .elemental-shape {
	fill: url('#gradient-energy');
}

/*   elemental shape fuckery   */
[data-dom='cell'][data-level='1'] .elemental-shape {
	d: path('M 0,0 M 57,23 Q 50,10 43,23 L 14,73 Q 07,85 21,85 L 79,85 Q 94,85 87,73 L 57,23 Z M 100,120');

	scale: 0.7;
	translate: 15% 10%;
}
[data-dom='cell'][data-level='2'] .elemental-shape {
	d: path('M 59,09 Q 50,0 42,09 L 09,42 Q 0,50 09,59 L 42,92 Q 50,100 59,92 L 92,59 Q 100,50 92,42 L 59,09 Z');

	scale: 0.8;
	translate: 10% 10%;
}
[data-dom='cell'][data-level='3'] .elemental-shape {
	d: path('M 58,06 Q 50,0 42,06 L 10,29 Q 03,35 05,44 L 18,81 Q 21,91 31,91 L 70,91 Q 80,91 83,81 L 95,44 Q 98,35 90,29 L 58,06 Z');

	scale: 0.9;
	translate: 5% 7.5%;
}

/*   elemental health fuckery   */
:is(path, circle):not(.elemental-shape) {
	scale: 0.3;
	translate: calc(50% * 0.7) calc(100% * 0.7);
}
circle.elemental-health-background {
	fill: var(--elemental-health-boundary-filler);
	fill-opacity: var(--elemental-health-boundary-filler-opacity);
	stroke: none;
}
circle.elemental-health-boundary {
	fill: none;
	stroke: var(--elemental-health-boundary);
	stroke-width: 8;
}
.elemental-health-life {
	fill: var(--elemental-health-life);
	stroke: none;
}

/* *   life fuckery   */
[data-dom='cell'][data-level='1'][data-health='1'] .elemental-health-life {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 50,95 A 45,45 0 0,0 50,5');
}
[data-dom='cell'][data-level='2'][data-health='1'] .elemental-health-life {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 50,95');
}
[data-dom='cell'][data-level='2'][data-health='2'] .elemental-health-life {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 50,95 A 45,45 0 0,0 50,5');
}
[data-dom='cell'][data-level='3'][data-health='1'] .elemental-health-life {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 13,25');
}
[data-dom='cell'][data-level='3'][data-health='2'] .elemental-health-life {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 13,75');
}
[data-dom='cell'][data-level='3'][data-health='3'] .elemental-health-life {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 50,95');
}
[data-dom='cell'][data-level='3'][data-health='4'] .elemental-health-life {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 50,95 A 45,45 0 0,0 87,75 Z');
}
[data-dom='cell'][data-level='3'][data-health='5'] .elemental-health-life {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 50,95 A 45,45 0 0,0 87,25 Z');
}
[data-dom='cell'][data-level='3'][data-health='6'] .elemental-health-life {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 50,95 A 45,45 0 0,0 50,5');
}

/* !   hit fuckery   */
.elemental-health-hit {
	fill: var(--elemental-health-hit);
	stroke: none;
}

[data-dom='cell'][data-level='1'][data-health='1'][data-hit='1'] .elemental-health-hit {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 50,95 A 45,45 0 0,0 50,5');
}
[data-dom='cell'][data-level='2'][data-health='1'][data-hit='1'] .elemental-health-hit {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 50,95');
}
[data-dom='cell'][data-level='2'][data-health='2'][data-hit='1'] .elemental-health-hit {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 50,95');
}
[data-dom='cell'][data-level='2'][data-health='2'][data-hit='2'] .elemental-health-hit {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 50,95 A 45,45 0 0,0 50,5');
}

[data-dom='cell'][data-level='3'][data-health='1'][data-hit='1'] .elemental-health-hit {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 13,25');
}
[data-dom='cell'][data-level='3'][data-health='2'][data-hit='1'] .elemental-health-hit {
	d: path('M 50,50 L 13,25 A 45,45 0 0,0 13,75');
}
[data-dom='cell'][data-level='3'][data-health='3'][data-hit='1'] .elemental-health-hit {
	d: path('M 50,50 L 13,75 A 45,45 0 0,0 50,95');
}
[data-dom='cell'][data-level='3'][data-health='4'][data-hit='1'] .elemental-health-hit {
	d: path('M 50,50 L 50,95 A 45,45 0 0,0 87,75');
}
[data-dom='cell'][data-level='3'][data-health='5'][data-hit='1'] .elemental-health-hit {
	d: path('M 50,50 L 87,75 A 45,45 0 0,0 87,25');
}
[data-dom='cell'][data-level='3'][data-health='6'][data-hit='1'] .elemental-health-hit {
	d: path('M 50,50 L 87,25 A 45,45 0 0,0 50,5');
}

[data-dom='cell'][data-level='3'][data-health='2'][data-hit='2'] .elemental-health-hit {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 13,75');
}
[data-dom='cell'][data-level='3'][data-health='3'][data-hit='2'] .elemental-health-hit {
	d: path('M 50,50 L 13,25 A 45,45 0 0,0 50,95');
}
[data-dom='cell'][data-level='3'][data-health='4'][data-hit='2'] .elemental-health-hit {
	d: path('M 50,50 L 13,75 A 45,45 0 0,0 87,75');
}
[data-dom='cell'][data-level='3'][data-health='5'][data-hit='2'] .elemental-health-hit {
	d: path('M 50,50 L 50,95 A 45,45 0 0,0 87,25');
}
[data-dom='cell'][data-level='3'][data-health='6'][data-hit='2'] .elemental-health-hit {
	d: path('M 50,50 L 87,75 A 45,45 0 0,0 50,5');
}

[data-dom='cell'][data-level='3'][data-health='4'][data-hit='4'] .elemental-health-hit {
	d: path('M 50,50 L 50,5 A 45,45 0 0,0 50,95 A 45,45 0 0,0 87,75 Z');
}
[data-dom='cell'][data-level='3'][data-health='5'][data-hit='4'] .elemental-health-hit {
	d: path('M 50,50 L 13,25 A 45,45 0 0,0 50,95 A 45,45 0 0,0 87,25 Z');
}
[data-dom='cell'][data-level='3'][data-health='6'][data-hit='4'] .elemental-health-hit {
	d: path('M 50,50 L 13,75 A 45,45 0 0,0 50,95 A 45,45 0 0,0 50,5 Z');
}
