@import 'OpenColors.css';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: monospace;
	-webkit-tap-highlight-color: transparent !important;
}

:root {
	--vmin: 1dvmin;
	--vmax: 1dvmax;

	--container-width: calc(100 * var(--vmin));
	--container-height: calc(100 * var(--vmax));

	--cell-size: calc(7.5 * var(--vmin));
	--board-size: calc(13 * var(--cell-size));

	--action-ability-size: calc(12 * var(--vmin));
	--controller-width: calc(5 * var(--action-ability-size));
	--controller-height: calc(2 * var(--action-ability-size));

	--modal-content-width: calc(100 * var(--vmin) - 16 * var(--vmin));
	--modal-content-height: calc(100 * var(--vmax) - 16 * var(--vmin));
}

body {
	/* overscroll-behavior: contain; */
	background-color: var(--oc-gray-9);
}

i {
	font-size: calc(8 * var(--vmin));
}

.container {
	inset: 0;

	width: var(--container-width);
	height: var(--container-height);

	display: grid;
	grid-auto-flow: row;
	place-items: center;

	background-color: var(--oc-gray-9);
}

.board {
	aspect-ratio: 1 / 1;
	border-radius: calc(0.25 * var(--vmin));

	display: grid;
	place-items: center;
	place-content: space-evenly;

	grid-template-columns: repeat(12, 1fr);

	background-color: var(--oc-gray-7);
}

.cell {
	width: var(--cell-size);
	aspect-ratio: 1 / 1;
	border-radius: calc(var(--vmin) * 0.5);

	overflow: hidden;
	display: grid;
	place-items: center;

	border: calc(var(--vmin) * 0.2) solid var(--oc-gray-7);
	/* box-shadow: 0 0 0 calc(var(--vmin) / 3) var(--oc-gray-7); */
}

.controller {
	width: var(--controller-width);
	height: var(--controller-height);

	border-radius: calc(0.8 * var(--action-ability-size));

	display: grid;
	place-items: center;

	background-color: var(--oc-gray-7);
	transition: 100ms;
}
.controller[data-active='false'] {
	filter: brightness(50%);
	transition: 100ms;
}

/*   abilities fuckery   */
.ability-selector {
	border-radius: calc(0.1 * var(--action-ability-size));

	display: grid;
	place-content: space-evenly;
	grid-auto-flow: column;
}
.ability {
	width: var(--action-ability-size);
	aspect-ratio: 1 / 1;
	border-radius: calc(0.1 * var(--action-ability-size));

	display: grid;
	place-items: center;
	overflow: hidden;

	font-size: calc(var(--action-ability-size) * 0.75);
	color: var(--oc-gray-5);

	background-color: var(--oc-gray-8);
	border: calc(0.05 * var(--action-ability-size)) solid var(--oc-gray-7);

	z-index: 0;
}
.ability > img {
	width: 80%;
	height: 80%;
}

.controller[data-player='green'] .ability {
	rotate: 180deg;
	color: var(--oc-green-6);
}
.controller[data-player='blue'] .ability {
	rotate: 0deg;
	color: var(--oc-blue-6);
}

/*   actions fuckery   */
.action-selector {
	border-radius: calc(0.1 * var(--action-ability-size));

	display: grid;
	place-content: space-evenly;
	grid-auto-flow: column;
}
.action {
	width: var(--action-ability-size);
	aspect-ratio: 1 / 1;
	border-radius: calc(0.1 * var(--action-ability-size));

	display: grid;
	place-items: center;
	overflow: hidden;

	background-color: var(--oc-gray-8);
	border: calc(0.05 * var(--action-ability-size)) solid var(--oc-gray-7);

	z-index: 0;
}

.action:is([data-type='attack'], [data-type='move'], [data-type='confirm']) {
	display: grid;
	place-items: center;
}
.controller[data-player='green'] .action:is([data-type='attack'], [data-type='move'], [data-type='confirm']) {
	color: var(--oc-green-6);
}
.controller[data-player='blue'] .action:is([data-type='attack'], [data-type='move'], [data-type='confirm']) {
	color: var(--oc-blue-6);
}

.controller[data-player='green'] .action {
	rotate: 180deg;
}
.controller[data-player='blue'] .action {
	rotate: 0deg;
}

:is(.cell, .ability, .action) {
	filter: brightness(100%);
	scale: 1;
	z-index: 0;

	transition: 100ms;
}
:is(.cell, .ability, .action):is(:hover, [data-active='true']) {
	filter: brightness(120%);
	scale: 1.2;
	z-index: 10;

	transition: 100ms;
}

/*   modal fuckery   */
.modal {
	width: calc(100 * var(--vmin));
	height: calc(100 * var(--vmax));

	display: none;
	place-items: center;
	position: fixed;

	overflow: auto;
	z-index: 20;

	background: rgba(0 0 0 / 0.67);
}

.open-modal,
.close-modal {
	position: fixed;
	display: grid;
	place-items: center;

	width: calc(10 * var(--vmin));
	height: calc(10 * var(--vmin));
	top: calc(1 * var(--vmin));

	border-radius: calc(2.5 * var(--vmin));
	cursor: pointer;

	color: var(--oc-gray-4);
	background: var(--oc-gray-8);

	box-shadow: 0 0 calc(0.5 * var(--vmin)) calc(0.5 * var(--vmin)) var(--oc-gray-9);
}
.open-modal {
	left: calc(1 * var(--vmin));
	z-index: 10;
}
.close-modal {
	right: calc(1 * var(--vmin));
	z-index: 40;
}

.modal-content {
	width: var(--modal-content-width);
	height: var(--modal-content-height);

	display: grid;
	grid-template-areas:
		'tab-selector'
		'tab-content';
	grid-template-rows: calc(8 * var(--vmax)) 1fr;

	border-radius: var(--vmin);
	background: var(--oc-gray-8);

	z-index: 30;
}

.tab-buttons > *,
.tab-contents {
	margin: calc(2 * var(--vmin));
}

.tab-buttons {
	display: grid;
	place-items: stretch;
	grid-auto-flow: column;
	grid-area: tab-selector;
}
.tab-buttons i {
	border-radius: var(--vmin);

	display: grid;
	place-items: center;

	font-size: calc(8 * var(--vmin));
	color: var(--oc-gray-6);
	cursor: pointer;
	transition: 100ms;
}
.tab-buttons [data-active='true'] {
	font-size: calc(10 * var(--vmin));
	color: var(--oc-gray-1);
	box-shadow: 0 0 var(--vmin) var(--vmin) var(--oc-gray-9);
}

.tab-contents {
	grid-area: tab-content;

	overflow: scroll;
	box-shadow: 0 0 var(--vmin) var(--vmin) var(--oc-gray-9);
	border-radius: var(--vmin);
}
.tab-contents > .tab-content {
	display: none;
	place-items: center;
	padding: calc(2 * var(--vmin));
	color: var(--oc-gray-2);
}
.tab-contents > [data-active='true'] {
	display: grid;
}

#element-selector {
	width: 100%;
}
#element-selector * {
	font-size: calc(6 * var(--vmin));
}
#element-selector > fieldset {
	display: grid;
	place-items: center;
}

fieldset .input-wrapper {
	display: grid;
	place-items: start;
	grid-template-areas:
		'air-input air-label fire-input fire-label'
		'rock-input rock-label water-input water-label'
		'nature-input nature-label energy-input energy-label';
}
fieldset[data-player='green'] {
	color: var(--oc-green-5);
	border: calc(0.5 * var(--vmin)) solid var(--oc-green-5);
}
fieldset[data-player='blue'] {
	color: var(--oc-blue-5);
	border: calc(0.5 * var(--vmin)) solid var(--oc-blue-5);
}

legend {
	margin: 0 auto;
}
label {
	display: grid;
	margin: calc(6 * var(--vmin));
	margin-left: calc(1 * var(--vmin));
}
input {
	display: grid;
	place-self: center;
	margin: calc(2 * var(--vmin));
	appearance: none;
}

input::before {
	content: '';
	display: grid;

	width: calc(4 * var(--vmin));
	height: calc(4 * var(--vmin));

	border-radius: var(--vmin);
	background: var(--oc-gray-9);
}
input[data-type='air']:checked::before {
	grid-area: air-input;
	background: radial-gradient(var(--cc-gradient-air-1), var(--cc-gradient-air-2));
}
input[data-type='fire']:checked::before {
	grid-area: fire-input;
	background: radial-gradient(var(--cc-gradient-fire-1), var(--cc-gradient-fire-2));
}
input[data-type='rock']:checked::before {
	grid-area: rock-input;
	background: radial-gradient(var(--cc-gradient-rock-1), var(--cc-gradient-rock-2));
}
input[data-type='water']:checked::before {
	grid-area: water-input;
	background: radial-gradient(var(--cc-gradient-water-1), var(--cc-gradient-water-2));
}
input[data-type='nature']:checked::before {
	grid-area: nature-input;
	background: radial-gradient(var(--cc-gradient-nature-1), var(--cc-gradient-nature-2));
}
input[data-type='energy']:checked::before {
	grid-area: energy-input;
	background: radial-gradient(var(--cc-gradient-energy-1), var(--cc-gradient-energy-2));
}

input[data-type='air'] + label {
	grid-area: air-label;
	background: -webkit-radial-gradient(var(--cc-gradient-air-1), var(--cc-gradient-air-2));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
input[data-type='fire'] + label {
	grid-area: fire-label;
	background: -webkit-radial-gradient(var(--cc-gradient-fire-1), var(--cc-gradient-fire-2));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
input[data-type='rock'] + label {
	grid-area: rock-label;
	background: -webkit-radial-gradient(var(--cc-gradient-rock-1), var(--cc-gradient-rock-2));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
input[data-type='water'] + label {
	grid-area: water-label;
	background: -webkit-radial-gradient(var(--cc-gradient-water-1), var(--cc-gradient-water-2));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
input[data-type='nature'] + label {
	grid-area: nature-label;
	background: -webkit-radial-gradient(var(--cc-gradient-nature-1), var(--cc-gradient-nature-2));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
input[data-type='energy'] + label {
	grid-area: energy-label;
	background: -webkit-radial-gradient(var(--cc-gradient-energy-1), var(--cc-gradient-energy-2));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

p {
	font-size: calc(5 * var(--vmin));
}
h1 {
	font-size: calc(7 * var(--vmin));
}

/*   landscape mode fuckery   */
@media (orientation: landscape) {
	.container {
		transform: rotate(270deg);
		transform-origin: bottom right;

		position: absolute;
		top: calc(-100 * var(--vmax));
		left: auto;
	}

	.modal {
		width: calc(100 * var(--vmax));
		height: calc(100 * var(--vmin));
	}

	.modal-content {
		width: var(--modal-content-height);
		height: var(--modal-content-width);
	}

	fieldset .input-wrapper {
		grid-template-areas:
			'air-input air-label fire-input fire-label rock-input rock-label'
			'water-input water-label nature-input nature-label energy-input energy-label';
	}
}

/*   elemental svg fuckery   */
svg {
	overflow: hidden;
	position: absolute;
}

.cell[data-occupied='false'] svg {
	display: none;
}

.elemental {
	width: var(--cell-size);
	height: var(--cell-size);
}
.elemental-shape {
	stroke: var(--oc-gray-8);
	stroke-width: 0.05;
}

/*   elemental gradient color fuckery   */
.cell[data-element='air'] .elemental-shape {
	fill: url('#gradient-air');
}
.cell[data-element='fire'] .elemental-shape {
	fill: url('#gradient-fire');
}
.cell[data-element='rock'] .elemental-shape {
	fill: url('#gradient-rock');
}
.cell[data-element='water'] .elemental-shape {
	fill: url('#gradient-water');
}
.cell[data-element='nature'] .elemental-shape {
	fill: url('#gradient-nature');
}
.cell[data-element='energy'] .elemental-shape {
	fill: url('#gradient-energy');
}

/*   elemental shape fuckery   */
.cell[data-level='1'] .elemental-shape {
	d: path(
		'M 0.57,0.23 Q 0.5,0.1 0.43,0.23 L 0.14,0.73 Q 0.07,0.85 0.21,0.85 L 0.79,0.85 Q 0.94,0.85 0.87,0.73 L 0.57,0.23 Z'
	);

	scale: 0.7;
	translate: 15% 10%;
}
.cell[data-level='2'] .elemental-shape {
	d: path(
		'M 0.59,0.09 Q 0.5,0 0.42,0.09 L 0.09,0.42 Q 0,0.5 0.09,0.59 L 0.42,0.92 Q 0.5,1 0.59,0.92 L 0.92,0.59 Q 1,0.5 0.92,0.42 L 0.59,0.09 Z'
	);

	scale: 0.8;
	translate: 10% 10%;
}
.cell[data-level='3'] .elemental-shape {
	d: path(
		'M 0.58,0.06 Q 0.5,0 0.42,0.06 L 0.1,0.29 Q 0.03,0.35 0.05,0.44 L 0.18,0.81 Q 0.21,0.91 0.31,0.91 L 0.7,0.91 Q 0.8,0.91 0.83,0.81 L 0.95,0.44 Q 0.98,0.35 0.9,0.29 L 0.58,0.06 Z'
	);

	scale: 0.9;
	translate: 5% 7.5%;
}

/*   elemental health fuckery   */
.elemental-health-boundary {
	d: path('M 0,0 A 0.5 0.5 0 1 1 0.01,0 Z');
	fill: none;
	stroke: var(--cc-elemental-health-boundary);
	stroke-width: 0.075;

	translate: 50% 99%;
	scale: 0.25;
}
.elemental-health-background {
	d: path('M 0,0 A 0.5 0.5 0 1 1 0.01,0 Z');
	fill: var(--cc-elemental-health-boundary-filler);
	fill-opacity: var(--cc-elemental-health-boundary-filler-opacity);
	stroke: none;

	translate: 50% 99%;
	scale: 0.25;
}
.elemental-health-life {
	fill: var(--cc-elemental-health-life);
	stroke: none;

	translate: 50% 98%;
	scale: 0.23;
}

.cell[data-level='1'][data-health='1'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 1 0.499 0 Z L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='2'][data-health='1'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.5 1 L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='2'][data-health='2'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 1 0.499 0 Z L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='3'][data-health='1'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.25 L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='3'][data-health='2'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.75 L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='3'][data-health='3'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.5 1 L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='3'][data-health='4'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 0 0.933 0.75 L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='3'][data-health='5'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 0 0.933 0.25 L 0.5,0.5 Z');
	translate: 38.5% 75%;
}
.cell[data-level='3'][data-health='6'] .elemental-health-life {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 1 0.499 0 Z L 0.5,0.5 Z');
	translate: 38.5% 75%;
}

/*   hit fuckery   */
.elemental-health-hit {
	fill: var(--cc-elemental-health-hit);
	stroke: none;

	translate: 50% 98%;
	scale: 0.23;
}

.cell[data-level='1'][data-health='1'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 1 0.499 0 Z L 0.5,0.5 Z');
	transform-origin: center left;
	translate: 38.5% 36.5%;
}
.cell[data-level='2'][data-health='1'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.5 1 L 0.5,0.5 Z');
	transform-origin: center left;
	translate: 38.5% 36.5%;
}
.cell[data-level='2'][data-health='2'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.5 1 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.24;
	translate: 62% 36.5%;
	rotate: 180deg;
}
.cell[data-level='3'][data-health='1'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.25 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 37.5% 37.5%;
}
.cell[data-level='3'][data-health='2'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.25 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 44.5% 47.5%;
	rotate: -60deg;
}
.cell[data-level='3'][data-health='3'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.25 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 56.5% 46.5%;
	rotate: -120deg;
}
.cell[data-level='3'][data-health='4'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.25 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 62.5% 36%;
	rotate: -180deg;
}
.cell[data-level='3'][data-health='5'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.25 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 55.5% 25.5%;
	rotate: -240deg;
}
.cell[data-level='3'][data-health='6'][data-hit='1'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.25 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 43% 26%;
	rotate: -300deg;
}

.cell[data-level='2'][data-health='2'][data-hit='2'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 1 0.499 0 Z L 0.5,0.5 Z');
	transform-origin: center left;
	translate: 38.5% 36.5%;
}
.cell[data-level='3'][data-health='2'][data-hit='2'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 37.5% 36.5%;
}
.cell[data-level='3'][data-health='3'][data-hit='2'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 44% 47.5%;
	rotate: -60deg;
}
.cell[data-level='3'][data-health='4'][data-hit='2'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 56% 46.5%;
	rotate: -120deg;
}
.cell[data-level='3'][data-health='5'][data-hit='2'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 62.5% 36.5%;
	rotate: -180deg;
}
.cell[data-level='3'][data-health='6'][data-hit='2'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 0 0 0.067 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	scale: 0.25;
	translate: 55.5% 25%;
	rotate: -240deg;
}

.cell[data-level='3'][data-health='4'][data-hit='4'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 0 0.933 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	translate: 38.5% 36.5%;
}
.cell[data-level='3'][data-health='5'][data-hit='4'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 0 0.933 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	translate: 44.5% 46.5%;
	rotate: -60deg;
}
.cell[data-level='3'][data-health='6'][data-hit='4'] .elemental-health-hit {
	d: path('M 0.5 0.5 V 1 M 0.5 0 A 0.5 0.5 0 1 0 0.933 0.75 L 0.5,0.5 Z');
	transform-origin: center left;
	translate: 56% 46.5%;
	rotate: -120deg;
}
